*{
  margin: 0;
  padding: 0;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black{
  background-color: rgba(0, 191, 255, 0.281);
}

.white{
  background-color: rgba(253, 242, 84, 0.548);
}

.selected{
  background-color: rgba(238, 132, 3, 0.856);
}


.available{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(153, 255, 0);

}

h3{
  padding: 12px;

}

.lost{

  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.curpa{
  position: absolute;
  font-weight: 900; 
  top: 150px;
}

